<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")        
		link(rel='stylesheet', href='assets/css/style.css' )        
		title Document        
	body
		h1 Script Acessórios
		div.container
			textarea#original(name="test", cols="40", rows="20")
			textarea#tag(name="test", cols="40", rows="20")
			textarea#clean(name="test", cols="40", rows="20")
		button#run(type="submit") Run	
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="assets/js/scripts-min.js")